#wrap
{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    }
#center
{
    text-align: center;
  }
body {
  padding: 20px;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 14px;
}
mark {
    color: red;
  }

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 400px;
  border: solid 2px #ccc;
  padding: 12px;
}

button {
  display: block;
  margin: 20px auto;
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(252, 249, 249, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#box {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 400px;
  border: solid 2px #ccc;
  padding: 12px;
}
#boxS {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 400px;
  border: solid 2px #ccc;
  padding: 12px;
  background-color: white;
}
img.resize {
  max-width:75%;
  max-height:75%;
}