#wrap
{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    }
#center
{
    text-align: center;
  }
body {
  padding: 20px;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 14px;
}
mark {
    color: red;
  }

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 400px;
  border: solid 2px #ccc;
  padding: 12px;
  background-color:white;
}

button {
  display: block;
  margin: 20px auto;
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(252, 249, 249, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#box {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
}
#boxS {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  max-width: 600px;
  border: solid 2px #ccc;
  padding: 12px;
  background-color: white;
}
img.resize {
  max-width:75%;
  max-height:75%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu {
  display: block;
  margin: 0 auto;
/*  position: relative;*/
  width: 200px;
}

.menu > li > a {
  list-style-type: none;
/*  background: #000; */
/*  color: #fff; */
  display: block;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
/*  background: #ddd; */
  height: 0;
  left: 0;
  opacity: 0;
/*  position: absolute;*/
  transition: all .5s ease;
  top: 35px;
  width: 100%;
}

.menu li:hover ul {
  list-style-type: none;
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  list-style-type: none;
/*  color: #000;*/
  display: block;
  padding: 0px 0px;
}
